@tailwind base;
@tailwind components;
@tailwind utilities;

.moving-gradient {
    background-image: linear-gradient(
      135deg,
      #f9c5d1,
      #f6d5e6,
      #e0c3fc,
      #9ec2ff,
      #9ee9ff
    );
    background-size: 400% 400%;
    animation: movingGradient 15s ease infinite;
  }
  
  @keyframes movingGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #leftbuttons::-webkit-scrollbar {
    width: 4px; /* Adjust scrollbar width */
    height: 4px; /* Adjust scrollbar height */
  }
  
  #leftbuttons::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 4px; /* Radius for the scroll thumb */
  }
  
  #leftbuttons::-webkit-scrollbar-thumb:hover {
    background: #919191; /* Color of the scroll thumb on hover */
  }